

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-color: #e1e7ee;
}
.header {
    background-color: white;
    padding: 1rem;
    display: flex;
   justify-content: space-between;
    align-items: center;
    gap: rem;
  
}

.header h2 {
 color: #3c42cd;
 
}

.header > form {
    padding-right: 15rem;
    
}

.header > form > label {
    display: flex;
   
}

main {
    
    padding-top: 1.75rem;

    padding-left: 10rem;
    padding-right: 10rem;
}

.promocao h2 {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    width: 14rem;
    display: flex;
    margin-bottom: 1rem; 
   
}

.marcas {
    
    display:flex;
    flex-direction: column;
    
    
}

.marcas {
    
}

