* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    background-color: #e1e7ee;
}
.header {
    padding-top: 1rem;
    background-color: white;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.header h2 {
    padding-bottom: 1.75rem
}
.header label {
    padding: 0.75rem 1rem 0 1rem;
    line-height: 1.6;
    font-size: 16px;
    
    
}
.content {
    display: flex; 
    flex-direction: row; 
    padding-bottom: 5rem; 
}
.search {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 2rem;
    border-radius: 14px;
    border-width: 0.4px;
    border-style: solid;
    border-color: whitesmoke;
    padding: 8px 0 8px 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-bottom: 1rem;
    margin-left: 0.75rem;
}


.search  input {
    user-select: none;
    border: none;
    width: 100%;
    outline: none;
    padding-left: 0.25rem;
}
button:hover {
    cursor: pointer;
}
.search button {
   
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: 0.4rem;
   outline: none;
   border-radius: 20px;
   border-style: solid;
   border-width: 0.1px 0 0.1px 0.1px;
   background-color: white;
   border-color: rgb(224, 224, 224);
   
  
}

.header h2 {
    padding-left: 1rem;
 color: #3c42cd;
 
}



.market {
    border: none;
    background: none;
    padding-right: 2rem;
}

main {
    
    padding-top: 1.75rem;

    padding-left: 12rem;
    padding-right: 12rem;
}
 .filter {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    }
.menu div {
    user-select: none;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    width: 14rem;
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
    
}




.brand div {
    
    padding-left: 0.4rem; 
    padding-bottom: 1rem;
 
}

.brandinput div {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}
 




.condition div {
    padding-left: 0.4rem; 
    padding-bottom: 1rem;
 
}

.conditioninput div {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}




.category div {
    padding-left: 0.4rem; 
    padding-bottom: 1rem;
 
}

.categoryinput div {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
}

.price {
    width: 14rem;
}

.price h2 {
    margin-bottom: 0.75rem;
}
.priceinput {
    padding-left: 0.4rem;
}

.priceinput input {
    margin: 0 0.2rem 0 0.2rem;
    width: 4rem;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 1.5rem;
    
}

.items {
    
    padding-left : 2rem;
    display: flex;
    flex-wrap: wrap;
   
    gap: 2rem;
}

.items > div {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    width: 24rem;
    height: 28rem;
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    
}

.items div > img {
    
    padding-top: 2rem;
    margin: 0 auto 0 auto;

}

.items div h3 {
    padding-top: 4rem;
    padding-bottom: 0.75rem;
      
}



.currentValue {
    color: #1caa00;
    line-height: 1.6;
    font-size: 2rem;
}
.greenValue  { 
    display: flex;
    gap: 4px;
    
     color: #1caa00;
}

.porcentage {
    color: #1caa00;
}

.description {


    overflow: hidden;
    text-overflow: ellipsis;
         white-space: nowrap;
   
}



.cartShop {
    display: none;
  
    height: 3rem;
    width: 22rem;
    padding: 1rem;
    border-radius: 8px;
    border:none;
    background-color:  #3c42cd;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}


.shipping {
    display: flex; 
    flex-direction: column; 
    height: 5rem; 
    padding-bottom: 2.5rem;
}

